html, body, #root, #root>div {
    height: 100%
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.Background {
    background-color: bisque;
}


.root{

}
